.picture {
    margin-top: 10px;
    height: 95vh;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.eraser {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2); 
}

.eraser i {
    color: aqua;
    font-size: 80px;
}
.download {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.download i {
    font-size: 75px;
    color: greenyellow;
}

.palette-flex {
    align-self: center;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
    .eraser {
        width: 60px;
        height: 60px;
        box-shadow: 0 2px 10px rgba(0,0,0,.2); 
    }
    
    .eraser i {
        color: aqua;
        font-size: 40px;
    }
    .download {
        width: 60px;
        height: 60px;
        box-shadow: 0 2px 10px rgba(0,0,0,.2);
    }
    
    .download i {
        font-size: 40px;
        color: greenyellow;
    }
}

.color-palette {
    margin-top: 10px;
    height: 80vh;
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

button {
    outline: none;
    border: none;
    background: transparent;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}
/* カラーパレット内のdiv装飾 */
.black {
    background-color: black;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.white {
    background-color: white;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.red {
    background-color: red;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.blue {
    background-color: blue;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.green {
    background-color: green;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.purple {
    background-color: purple;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.gray {
    background-color: gray;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.aqua {
    background-color: aqua;
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

